<div class="ui top attached segment stackable statistics no-padding grid">
  <button class="ui icon config button"><i class="setting icon"></i></button>
  <div class="ui special config popup">
      <div id="show_variability" class="ui checkbox">
        <input type="checkbox" tabindex="0" class="hidden" <%= 'checked' if @show_variability %>>
        <label>Afficher les écart-types (σ) et les intervalles de confiance (IC)</label>
      </div>
      <div class="ui divider"></div>
      <div class="ui field">
        Degré de confiance : <div class="ui selection deep_confidence compact dropdown" data-target="confidence_value">
          <div class="text"><%= @ci_level %></div>
          <i class="dropdown icon"></i>
          <div class="menu">
            <div class="item" data-value="<%= @deep_scores[:G1][:ci_90] %>_<%= @deep_scores[:G2][:ci_90] %>_<%= @deep_scores[:G3][:ci_90] %>_<%= @deep_scores[:G4][:ci_90] %>_<%= @deep_scores[:G5][:ci_90] %>_<%= @deep_scores[:G6][:ci_90] %>" data-text="90%">90%</div>
            <div class="item" data-value="<%= @deep_scores[:G1][:ci_95] %>_<%= @deep_scores[:G2][:ci_95] %>_<%= @deep_scores[:G3][:ci_95] %>_<%= @deep_scores[:G4][:ci_95] %>_<%= @deep_scores[:G5][:ci_95] %>_<%= @deep_scores[:G6][:ci_95] %>" data-text="95%">95%</div>
            <div class="item" data-value="<%= @deep_scores[:G1][:ci_99] %>_<%= @deep_scores[:G2][:ci_99] %>_<%= @deep_scores[:G3][:ci_99] %>_<%= @deep_scores[:G4][:ci_99] %>_<%= @deep_scores[:G5][:ci_99] %>_<%= @deep_scores[:G6][:ci_99] %>" data-text="99%">99%</div>
          </div>
        </div>
      </div>
  </div>
  <div class="ui three wide column">
    <div class="statistic">
      <div class="label"><%= "Réponse".pluralize(@project.responses.count) %></div>
      <div class="value"><%= @project.responses.count %></div>
    </div>
  </div>
  <div class="ui two wide column">
    <div class="statistic">
      <div class="label">Moyenne <%= ResponseDeep::G1_label[I18n.locale].partition(" ").first %></div>
      <div class="value"><%= @deep_scores[:G1][:mean] %></div>
    </div>
  </div>
  <div class="ui two wide column">
    <div class="statistic">
      <div class="label">Moyenne <%= ResponseDeep::G2_label[I18n.locale].partition(" ").first %></div>
      <div class="value"><%= @deep_scores[:G2][:mean] %></div>
    </div>
  </div>
  <div class="ui two wide column">
    <div class="statistic">
      <div class="label">Moyenne <%= ResponseDeep::G3_label[I18n.locale].partition(" ").first %></div>
      <div class="value"><%= @deep_scores[:G3][:mean] %></div>
    </div>
  </div>
  <div class="ui two wide column">
    <div class="statistic">
      <div class="label">Moyenne <%= ResponseDeep::G4_label[I18n.locale].partition(" ").first %></div>
      <div class="value"><%= @deep_scores[:G4][:mean] %></div>
    </div>
  </div>
  <div class="ui two wide column">
    <div class="statistic">
      <div class="label">Moyenne <%= ResponseDeep::G5_label[I18n.locale].partition(" ").first %></div>
      <div class="value"><%= @deep_scores[:G5][:mean] %></div>
    </div>
  </div>
  <div class="ui two wide column">
    <div class="statistic">
      <div class="label">Moyenne <%= ResponseDeep::G6_label[I18n.locale].partition(" ").first %></div>
      <div class="value"><%= @deep_scores[:G6][:mean] %></div>
    </div>
  </div>
</div>

<div class="ui bottom attached message variability <%= 'hidden' unless @show_variability %> divided no-padding grid">
  <div class="ui three wide column"></div>
  <div class="ui two wide column">
    <div class="tiny label">σ = <%= @deep_scores[:G1][:sd] %></div>
    <div class="tiny label">IC = <span id="confidence_value_G1"><%= @deep_scores[:G1][@ci_level_hash_key] %></span></div>
  </div>
  <div class="ui two wide column">
    <div class="tiny label">σ = <%= @deep_scores[:G2][:sd] %></div>
    <div class="tiny label">IC = <span id="confidence_value_G2"><%= @deep_scores[:G2][@ci_level_hash_key] %></span></div>
  </div>
  <div class="ui two wide column">
    <div class="tiny label">σ = <%= @deep_scores[:G3][:sd] %></div>
    <div class="tiny label">IC = <span id="confidence_value_G3"><%= @deep_scores[:G3][@ci_level_hash_key] %></span></div>
  </div>
  <div class="ui two wide column">
    <div class="tiny label">σ = <%= @deep_scores[:G4][:sd] %></div>
    <div class="tiny label">IC = <span id="confidence_value_G4"><%= @deep_scores[:G4][@ci_level_hash_key] %></span></div>
  </div>
  <div class="ui two wide column">
    <div class="tiny label">σ = <%= @deep_scores[:G5][:sd] %></div>
    <div class="tiny label">IC = <span id="confidence_value_G5"><%= @deep_scores[:G5][@ci_level_hash_key] %></span></div>
  </div>
  <div class="ui two wide column">
    <div class="tiny label">σ = <%= @deep_scores[:G6][:sd] %></div>
    <div class="tiny label">IC = <span id="confidence_value_G6"><%= @deep_scores[:G6][@ci_level_hash_key] %></span></div>
  </div>
</div>

<div class="ui grid container segment">
  <div class="ui sixteen wide column">
      <%= deep_radar_chart_for(@deep_scores) %>
  </div>
</div>
