<div class="ui top attached segment stackable statistics no-padding grid">
  <button class="ui icon config button"><i class="setting icon"></i></button>
  <div class="ui special config popup">
      <div id="show_variability" class="ui checkbox">
        <input type="checkbox" tabindex="0" class="hidden" <%= 'checked' if @show_variability %>>
        <label>Afficher les écart-types (σ) et les intervalles de confiance (IC)</label>
      </div>
      <div class="ui divider"></div>
      <div class="ui field">
        Degré de confiance : <div class="ui selection sus_confidence compact dropdown" data-target="confidence_value">
          <div class="text"><%= @ci_level %></div>
          <i class="dropdown icon"></i>
          <div class="menu">
            <div class="item" data-value="<%= @umux_score[:ci_90] %>" data-text="90%">90%</div>
            <div class="item" data-value="<%= @umux_score[:ci_95] %>" data-text="95%">95%</div>
            <div class="item" data-value="<%= @umux_score[:ci_99] %>" data-text="99%">99%</div>
          </div>
        </div>
      </div>
  </div>
  <div class="ui three wide column">
    <div class="statistic">
      <div class="label"><%= "Réponse".pluralize(@project.responses.count) %></div>
      <div class="value"><%= @project.responses.count %></div>
    </div>
  </div>
  <div class="ui three wide column">
    <div class="statistic">
      <div class="label">Score</div>
      <div class="value"><%= @umux_score[:mean] %></div>
    </div>
  </div>
</div>

<div class="ui bottom attached message variability <%= 'hidden' unless @show_variability %> divided no-padding grid">
  <div class="ui three wide column"></div>
  <div class="ui three wide column">
    <div class="tiny label">σ = <%= @umux_score[:sd] %></div>
    <div class="tiny label">IC = <span id="confidence_value"><%= @umux_score[@ci_level_hash_key] %></span></div>
  </div>
</div>

<div class="ui grid container segment">
  <div class="ui eight wide column">
    <h3>Score moyen global</h3>
    <%= umux_chart_for(@umux_score[:mean]) %>
  </div>
  <div class="ui eight wide column">
    <h3>Détail des scores d'utilisabilité et d'utilité</h3>
    <div><%= umux_portfolio_chart_for(@project, @umux_lite_scores) %></div>
  </div>
</div>
