<nav class="bc">
  <div class="ui large breadcrumb container">
    <a class="section" href="<%= root_path %>"><%= root_path_name %></a>
    <i class="right chevron icon divider"></i>
    <h1 class="active section">Compte à rebourds</h1>
  </div>
</nav>

<%= flash_messages %>
<div id="timer_container" class="ui container">
    <div class="timer">
        <div class="ui right floated icon settings-buttons buttons">
          <button class="ui icon disabled button"><i class="icon alarm"></i></button>
          <button class="ui icon button toggle-fullscreen"><i class="icon expand"></i></button>
        </div>
        <div class="ui progress-value"></div>
        <div class="ui special config popup">
          <div class="warning">Pour des raisons de sécurité, les navigateurs n'autorisent pas encore la saisie en plein écran.</div>
          <form class="ui form">
            <div class="field">
              <div class="ui right labeled huge input">
                <input type="text" id="timeinput" name="timeinput" class="timeinput" value="<%= @timerMinutes %>" autocomplete="off">
                <div class="ui basic label">min.</div>
              </div>
            </div>
          </form>
        </div>
        <div class="ui icon timer-buttons buttons">
          <button class="ui play inverted button"><i class="play icon"></i></button>
          <button class="ui stop inverted disabled button"><i class="stop icon"></i></button>
        </div>
        <div class="progress" id="progress"></div>
        <%= audio_tag("notification-01.wav", class: 'sound-notification')%>
    </div>

</div>
