<div class="ui vertical footer segment">
  <div class="ui center aligned container">
    <p><img src="<%= image_path('heart-logo.png')%>" srcset="<%= image_path('heart-logo.png')%>, <%= image_path('heart-logo@2x.png')%> 2x" alt="We Love Users"></p>
    <p><a href="<%= root_path %>"><%= wlu_tools_name %></a>, un service de <a href="http://www.weloveusers.com">We Love Users</a></p>
    <p>© 2016-<%= Time.now.year %>, We Love Users</p>
  </div>
</div>
