<!DOCTYPE html>
<html>
  <head>
    <title><%= wlu_tools_name %> - Questionnaires UX - We Love Users</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <%= favicon_link_tag 'favicon.ico' %>
    <%= stylesheet_link_tag "application", media: 'all', "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="response <%= 'public' if not user_signed_in?%>">
    <% if user_signed_in? %>
    <%= render "layouts/nav" %>
    <% end %>

    <div class="content">
      <%= flash_messages %>
      <%= yield %>
    </div>

    <%= render "layouts/footer" %>
    <%= render "layouts/google_analytics" %>
  </body>
</html>
